// classes
.body-pd {
    padding-left: calc(var(--nav-width) + 0rem);
}

.show {
    left: 0 !important;
}

.active_link {
    color: var(--white-color);
}

.active_link::before { 
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: aliceblue;
}

.gap-18 {
    column-gap: 1rem;
}

.open__collapse-menu {
    max-height: 100rem !important;
    .collapse-icon {
        transform: rotate(180deg);
    }

    i {
        min-width: 20px;
    }
}

.sm-chevron {
    font-size: 10px;
}

.opacity-1 .nav__name {
    opacity: 1 !important;
}

.sidebar-title.opacity-1  {
    opacity: 1 !important;
    display: block !important;
}
