:root {
    // Colors
    // --textColor: #555;
    // --first-color: #263238;
    // --dark-color: #111;
    // --side-color:  #243B55; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // --white-color: #ffffff;
    // --bg-color: #f1f2f7;

    // sizes
    --nav-width: 68px;
    --normal-font-size: 1rem
}
//home default colors
body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}

.glass-card {
    .glass {
        background-color: white;
        border: 1px solid rgb(238, 238, 238);
    }
    .title {
        color: #8c98a4;
    }
}

.page-content {
    color: #000;
}

footer {
    background-color: #111111;
    color: #888;

}

// home

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: var(--normal-font-size);
    transition: 0.4s;
}

.page-content {
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding: 15px 8px 52px 8px;
    display: inline-block;

    // page title box
    .page-title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // cards 
    .page-card {
        color: white;
        .card {
            border: none;
            margin: 5px 0;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            
            &:hover .card-body i  {
                transform: scale(1.3, 1.3);
            }
            a {
                all: unset;
                color: white;
                cursor: pointer;
            }
        }

        .orders {
            background-color: #7266ba;
            background: -webkit-linear-gradient(to right, #3c1053);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right,  #3c1053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .products {
            background-color: #42a5f6;
            background: #396afc;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right #2948ff);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2948ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        .penddig {
            background: #ec008c;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        .member {
            background-color: #f1b740;
            background: #fc4a1a;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        .card-body {
            position: relative;
            display: flex;
            justify-content: space-between;

            i {
                transition: transform 0.2s;
            }
            .cart, .basket, .vision, .users {
                opacity: 0.5;
                align-self: center;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                font-size: 18px;

                span:first-child {
                    font-size: 25px;
                }
            }
        }
    }


    .glass-card {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        column-gap: 1rem;
        row-gap: 1rem;

        .glass {
            padding: 1rem;
            border-radius: 5px;
            box-shadow: 0 2px 18px 1px rgb(49 53 72 / 10%);

            .title {
                font-size: 14px;
                text-transform: uppercase;
                padding-bottom: 0.5rem;
            }

            .body {
                padding-bottom: 0.5rem;
            }

            .mini-tag {
                background-color: rgba(0,201,167,.1);
                color: #00c9a7;
                font-size: 14px;
                padding: 2px 5px;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    box-shadow: 0 2px 18px 1px rgb(49 53 72 / 10%);
    font-size: 0.8rem;
}